h2 {
  text-align: center;
}

.search-results-wrapper {
  display: flex;
}

.search-results .summary {
  flex: 1;
}

.search-results .flash {
  background-color: #111;
  color: #EEE;
  text-align: center;
  padding: 0.5em;
}

.image-strip {
  display: flex;
  justify-content: space-between;
}
