.header {
  background-color: white;
  padding: 20px;
  color: #222;
}

.siteItems {
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.siteItems ul li {
  margin-bottom: 10px;
}

.carouselImageContainer {
  height: 500px;
}

.mainButton {
  margin-top: 30px;
}

.footer {
  background-color: white;
  padding: 30px;
  color: #222;
  margin-top: 20px;
}