.header {
  background-color: white;
  padding: 20px;
  color: #222;
}

.siteItems {
  font-size: 20px;
  margin-top: 40px;
  padding-left: 20px;
}

.carouselImageContainer {
  height: 500px;
}

.mainButtonContainer {
  text-align: center;
  margin-top: 70px;
}

.footer {
  background-color: white;
  padding: 30px;
  color: #222;
  margin-top: 20px;
}