.Landing-header {
  background-color: white;
  padding: 20px;
  color: #222;
}

.Landing-footer {
  background-color: white;
  padding: 30px;
  color: #222;
}

.image-strip {
  display: flex;
  justify-content: space-between;
  background-color: #FFF;
}

.landing-wrapper {
  display: flex;
  padding: 1em;
  min-height: 400px;
}

.left {
  display: inline-block;
  width: 59%;
  align-self: center;
  text-align: center;
}

.right {
  display: flex;
  flex-direction: column;
  width: 39%;
}

.wrapper-item{
  padding: 2em;
  text-align: center;
  font-size: 20px;
}

.wrapper-item > ul > li{
  padding-bottom: 1em;
}

.slick-slider {
  flex: 2;
}

.slick-list,
.slick-track {
  height: 100%;
}

.right button {
  width: 100%;
}

.left .wrapper-item .btn {
  background-color: #7ccea3;
  color: #ffffff;
}

.left .wrapper-item ul li i{
  color: #7ccea3;
}

@media screen and (max-width: 600px) {
  .left .right{
    display: block;
    width: 100%;
    text-align: center;
  }
  .wrapper-item{
    width: 100%;
    display: block;
  }

  .right {
    display: block;
    width: 100%;
  }
}
