.btn {
  background-color: #EEE;
  color: #111;
  border: 1px solid transparent;
  padding: 5px 10px;
  text-align: center;
  border-radius: 2.5px;
}

.btn a {
  text-decoration: none;
}

/* TODO: Redo class names */
.btn-default {
  background-color: #57D09F;
  color: #FFF;
}

.btn-inverted {
  background-color: #FFF;
  color: #57D09F;
  border: 1px solid #57D09F;
}

.btn-secondary {
  background-color: #434343;
  color: #939393;
}
