.btn {
  background-color: #EEE;
  color: #111;
  border: 1px solid transparent;
  text-align: center;
  border-radius: 2.5px;
}

.btn:hover {
  opacity: 0.7;
}

.btn[disabled] {
  opacity: 0.4;
}

.btn a {
  text-decoration: none;
}

/* TODO: Redo class names */
.primary {
  background-color: white;
  color: #333333;
  border: 1px solid #4DCCDE;
}

.ghost {
  background-color: #FFF;
  color: #4DCCDE;
  border: 1px solid #4DCCDE;
}

.secondary {
  background-color: #434343;
  color: #eee5e5;
}

.small {
  padding: 5px 10px;
}

.medium {
  padding: 10px 20px;
}

.large {
  padding: 15px 40px;
}

.xlarge {
  padding: 20px 70px;
  font-size: 17px;
}

.block {
  width: 100%;
}
