.policyOptions {
    background-color: grey;
    border-radius: 2%;
    margin: 10px;
    color: black;
    padding: 10px;
    border: 2px solid transparent;
}

.policy-selected {
    background-color: white;
    border: 2px solid #4A9D7C;
}


.policy-unselected {
    background-color: #EEEEEE;

}
