.groupContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* justify-content: space-evenly; */
	margin-top: 10px;
	margin-bottom: 20px;
}

.itemContainer {
	width: 200px;
    height: 100px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.itemContainerNoIcon {
	width: 100px;
	height: 70px;
	margin-left: 15px;
	margin-right: 15px;
}

.itemWrapper:hover {
	cursor: pointer;
	border: 2px solid green;
	background-color: white;
}

.itemWrapper {
	vertical-align: middle;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.itemUnselected {
	background-color: gainsboro;
	border: 2px solid gainsboro;
}

.itemSelected {
	background-color: white;
	border: 2px solid green;
}

.itemWrapperInner {
	display: flex;
	flex-direction: row;
	align-self: center
}

.itemWrapperInner div {
	align-self: center;
}

.itemIcon {
	padding: 10px;
}

.itemText {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.4;
}