.header {
  background: linear-gradient(0deg, #FBFBFB 40%, #434343 40%);
  color: #FFF;
  text-align: center;
  padding: 2.5em 1em 0.5em 1em;
}

.summary {
  display: flex;
  color: #000;
}

.price {
  font-size: 1.25em;
  font-weight: bold;
  display: block;
}

.survivorPhoto {
  max-width: 100%;
  border-radius: 100%;
}

.survivorStory {
  padding: 1em;
  margin: 1em 0;
  font-size: 16px;
  line-height: 1.5;
}

.socialMediaInfo {
  background-color: #EEE;
  padding: 1em;
  color: #444;
}

.spacer {
  height: 100px;
  background-color: #FBFBFB;
}
