.card {
  flex: 1;
  margin: 1em;
  font-size: 1.25em;
}

.header {
  text-transform: uppercase;
  background-color: #F0F0F0;
  color: #59636D;
  padding: 1em;
  margin: 0;
}

.content {
  padding: 1em;
  background-color: #FFF;
}
