.card {
  flex: 1;
  margin: 0.25em;
  box-shadow: 5px 5px 5px #EEE;
}

.header {
  text-transform: uppercase;
  background-color: #F0F0F0;
  color: #59636D;
  padding: 1em;
  margin: 0;
}

.content {
  padding: 1em;
  background-color: #FFF;
}
