.card {
  flex: 1;
  /* margin: 0.25em; */
  /* box-shadow: 5px 5px 5px #EEE; */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  /* padding: 1.5em; */
  background-color: #FFF;
}

.header {
  text-transform: uppercase;
  background-color: #F0F0F0;
  color: #59636D;
  padding: 1em;
  margin: 0;
}

.content {
  padding: 1em;
  background-color: #FFF;
}
