ul {
  list-style-type: none;
}

li {
  text-align: left;
}

.policy-stub {
  padding: 1em;
  position: relative;
}

.policy-stub img {
  position: relative;
  top: 50%;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  border: 1.5px solid #333;
}

.policy-stub-header {
  margin-bottom: -20%;
  text-align: center;
}

.policy-stub-description {
  background-color: #EEE;
  padding: 1em;
  padding-top: 20%;
  border-radius: 5px;
}

.checkbox-label {
  position: absolute !important;
  top: 0;
  right: 0;
}
