.root {
  position: relative;
}

.policyImage {
  position: relative;
  top: 50%;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  box-shadow: 0 8px 40px rgba(0,0,0,0.2);
}

.header {
  margin-bottom: -50px;
  text-align: center;
  width: 100%;
}

.policyDescription {
  padding: 25px 10px 10px 10px;
  border-radius: 1px;
  text-align: center;
}

.policyName {
  padding: 20px 0px 0px 0px;
  text-align: center;
  font-weight: bold;
}

.policyPrice {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
