.policyItem{
  text-align: center;
}

.row .col .policyOption:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.excessAmount {
    font-weight: bold;
}

.row .btn {
  background-color: #7ccea3;
  color: #ffffff;
  padding: 10px 10px;
}
