.header {
	background-color: white;
	color: #222;
}

.stepperContainer {
	padding-top: 25px; 
	padding-bottom: 15px;
	padding-left: 10%;
	padding-right: 10%;
}

.banner {
	background-color: #434343;
	color: white;
	padding: 30px 0px;
	text-align: center;
}

.searchStepContainer {
	margin-top: 30px;
}

.searchFieldRow {
	margin-top: 15px;
	margin-bottom: 15px;
	width: 90%;
    margin-left: 5%;
}

.inclusionGroup {
	margin-bottom: 20px;
}

.buttonContainer {
	margin-top: 40px;
	text-align: right;
}

.resultNavButton {
	top: 180px;
	z-index: 99999;
	opacity: 0.4;
	position: absolute;
}

.resultNavButton:hover {
	cursor: pointer;
}

.prevPageButton {
	left: 0px;
}

.nextPageButton {
	right: 0px;
}

.policyResultsContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-bottom: 15px;
}

.policyResult {
	flex-basis: 30%;
	text-align: center;
}

.fundThumbnail {
	height: 75px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 50%;
}

.fundInfoContainer {
	margin-top: -38px;
}

.selectFundBtnContainer {
	margin-top: 25px;
}

.moreDetailsContainer {
	margin-top: 30px;
	width: 96%;
    margin-left: 2%;
}

.searchSummaryEditLinkContainer {
	text-align: right;
}

.searchSummaryEditLinkContainer a, .searchSummaryEditLinkContainer a:visited {
	color: #57D09F;
}

.searchSummaryItemsContainer p span, .searchSummaryCompactContainer div p span {
	margin-left: 15px;
}

.searchSummaryCompactContainer div p {
	margin: 0px;
}

.searchSummaryCompactContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.paymentOptionsContainer {
	margin-top: 25px;
}