.header {
	background-color: white;
	color: #222;
}

.banner {
	background-color: #3f3d3d;
	color: white;
	padding: 20px;
	text-align: center;
}

.searchStepContainer {
	margin-top: 30px;
}

.searchFieldRow {
	margin-top: 15px;
	margin-bottom: 15px;
}

.inclusionGroup {
	margin-bottom: 20px;
}