

footer {
  padding: .5em;
  color: #363f48;
  background-color: #EEEEEE;
  height: 5em;
  bottom: 0;
}

.footerCopyright {
  padding: 1.2em 2em;
  float: left;
}

.footerSocialMedia {
  float: right;
  padding: 0em 2em;
}

.footer ul {
  list-style: none;
}

.footerIcons li {
  display: inline-block;
  padding: 0px 5px;
}
